<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weareallthesame.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_waats_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="weareallthesame.db.CategoryContentProvider"
            android:authorities="weareallthesame.db1"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.ItemContentProvider"
            android:authorities="weareallthesame.db2"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.ItemTagsContentProvider"
            android:authorities="weareallthesame.db3"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.QuestionContentProvider"
            android:authorities="weareallthesame.db4"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.QuestionTagsContentProvider"
            android:authorities="weareallthesame.db5"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.GameContentProvider"
            android:authorities="weareallthesame.db6"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.ResourceContentProvider"
            android:authorities="weareallthesame.db7"
            android:exported="false" >
        </provider>

        <activity
            android:name=".MyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ZoomActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.hangmangame.HangmanGameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindTheWordFromThePictureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindThePictureFromTheWordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindThePictureFromTheSoundActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindPictureFromPictureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.howmanygame.HowManyObjectsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.ExerciseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.choosecharacterfromsoundgame.ChooseCharacterFromSoundActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.additionandsubtractiongames.AdditionAndSubstractionNumbersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.additionandsubtractiongames.AdditionAndSubstractionSetsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.chooseoperatorgames.ChooseOperatorNumbersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.connectitemsgames.ConnectItemsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.questiongame.QuestionGameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.orderelementsgame.OrderElementsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.choosesigngames.ChooseSignBetweenNumbers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.classifyitemsgames.ClassifyTheElementsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.hangmangame.HangmanGameStandardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.hangmangame.LettersListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameOverChoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTransparent" >
        </activity>
        <activity
            android:name=".games.classifyitemsgames.ClassifyItemsImagesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.chooseoperatorgames.ChooseOperatorSetsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".games.choosesigngames.ChooseSignSetsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WAATSActivity"
            android:label="@string/title_activity_waats" >
        </activity>
    </application>

</manifest>