<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weareallthesame.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_waats_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="weareallthesame.db.CategoryContentProvider"
            android:authorities="weareallthesame.db1"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.ItemContentProvider"
            android:authorities="weareallthesame.db2"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.ItemTagsContentProvider"
            android:authorities="weareallthesame.db3"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.QuestionContentProvider"
            android:authorities="weareallthesame.db4"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.QuestionTagsContentProvider"
            android:authorities="weareallthesame.db5"
            android:exported="false" >
        </provider>
        <provider
            android:name="weareallthesame.db.GameContentProvider"
            android:authorities="weareallthesame.db6"
            android:exported="false" >
        </provider>

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ZoomActivity"
            android:label="@string/title_activity_zoom" >
        </activity>
        <activity
            android:name=".games.hangmangame.HangmanGameActivity"
            android:label="@string/title_activity_hangman_game" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindTheWordFromThePictureActivity"
            android:label="@string/title_activity_find_the_word_from_the_picture" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindThePictureFromTheWordActivity"
            android:label="@string/title_activity_find_the_picture_from_the_word" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindThePictureFromTheSound"
            android:label="@string/title_activity_find_the_picture_from_the_sound" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.FindPictureFromPictureActivity"
            android:label="@string/title_activity_find_picture_from_picture" >
        </activity>
        <activity
            android:name=".games.howmanygame.HowManyObjectsActivity"
            android:label="@string/title_activity_how_many_objects" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PagerActivity"
            android:label="@string/title_activity_pager"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".games.chooseitemgame.ExerciseActivity"
            android:label="@string/title_activity_exercise" >
        </activity>
        <activity
            android:name=".games.choosecharacterfromsoundgame.ChooseCharacterFromSoundActivity"
            android:label="@string/title_activity_choose_character_from_sound" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
    </application>

</manifest>